@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* Import fonts from fonts.css file */
@import url("./fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #F0F1F3;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    user-select: none;
    background-image: url('../assets/images/bg/BG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #e6e6e6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #8888889f;
    border-radius: 15px;
    opacity: 0.8;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5555559f;
}

/* Header Code start from here */

header {
    width: 100%;
    font-family: "Work Sans", sans-serif;
    padding: 20px 200px;
    position: fixed;
    background-color: transparent;
    top: 0;
    z-index: 999;
}

.wrapper-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #00000014;
}

.logo-wrapper {
    padding-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logo-user {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    padding: 20px;
    border-radius: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #A53DFF;
}

.logo-wrapper h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.navbar {
    width: 722px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar div[class^="link-"] {
    cursor: pointer;
    color: #333333;
    font-weight: 500;
}

.navbar div[class^="link-"]:hover {
    text-decoration: underline;
}

.link-contact {
    padding: 24px 12px;
    width: 111px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #333333;
    font-weight: 500;
    background-color: #A53DFF;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #A53DFF;
    transition: all .4s ease;
}

.link-contact:hover {
    border: 2px solid #A53DFF;
    background-color: transparent;
    color: #000;
}

/* Header code end here */

/* Main code start from here */

main {
    padding: 200px;
    margin-top: 107px;
}

/* intro wrapper goes here */
.intro-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.welcome_content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.welcome-wrapper h1 {
    font-family: "Work Sans", sans-serif;
    white-space: pre-line;
    font-size: 48px;
    font-weight: 600;
}

.welcome-wrapper p {
    font-family: "Work Sans", sans-serif;
    width: 435px;
    font-size: 14px;
    font-weight: 400;
    color: #556070e4;
    position: relative;
}

.welcome-wrapper p span {
    position: relative;
}


.welcome-wrapper p span::before {
    content: "";
    width: calc(100% - 2%);
    height: 25%;
    bottom: 25%;
    left: 0;
    position: absolute;
    background: #FFC8C8;
    z-index: -1;
}

.welcome-wrapper button {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    width: 126px;
    height: 48px;
    padding: 24px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    background-color: #A53DFF;
    border: 2px solid #A53DFF;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.welcome-wrapper button:hover {
    background-color: transparent;
    color: #000;
}

.EPCHC-wrapper {
    display: flex;
    gap: 6px;
    background-color: #fff;
}

.EPCHC-wrapper div[class^="EPCHC_box"] {
    width: 170px;
    height: auto;
    padding: 6px;
    display: flex;
    flex-direction: column;
    background-color: #edd8ff80;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

div[class^="EPCHC_box"] h1 {
    color: #424E60;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    font-size: 32px;
}

div[class^="EPCHC_box"] p {
    color: #697484;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.welcome_content-wrapper-pfp img {
    border-radius: 25px;
    box-shadow: 0 24px 116px rgba(43, 56, 76, 0.19);
}

/* intro wrapper ends here */

/* about me container start from here */

.about_me-pfp {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.about_me-pfp img {
    border-radius: 10px;
}

.about_me-contact_socials-wrapper {
    width: auto;
    padding: 6px;
    box-shadow: 0 0 0 rgba(28, 25, 25, 0.12);
    display: flex;
    position: absolute;
    background-color: #fff;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    border: 3px solid transparent;
    color: #697484;
    transition: all .5s ease-in-out;
}

.about_me-contact_socials-wrapper:hover .soc-box {
    color: #A53DFF;
}

.about_me-contact_socials-wrapper:hover {
    color: #A53DFF;
    box-shadow: 0 12px 64px rgba(28, 25, 25, 0.12);
}

.soc-box {
    padding: 6px;
    color: #697484;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.soc-box i {
    text-decoration: none;
}

.soc-box:hover {
    background-color: #A53DFF;
    color: #fff;
}

.soc-box:hover i {
    color: #fff;
}

.about_me-container {
    width: 100%;
    margin-top: 10px;
    padding: 112px;
    background-color: #fff;
    box-shadow: 0 36px 105px rgb(43, 56, 76, 0.15);
    border-radius: 16px;
    display: flex;
    gap: 136px;
}

.about_me-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about_me-wrapper h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: #132238;
    font-size: 34px;
}

.about_me-wrapper {
    color: #556070;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.about_me-btns button {
    padding: 8px 12px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    background-color: #A53DFF;
    border-radius: 4px;
    color: #fff;
    border: 2px solid #A53DFF;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.about_me-btns button:nth-child(2) {
    background-color: transparent;
    color: #A53DFF;
}

.about_me-btns button:nth-child(1):hover {
    background-color: transparent;
    color: #A53DFF;
}

.about_me-btns button:nth-child(2):hover {
    background-color: #A53DFF;
    color: #fff;
}
/* about me container ends here */

/* work process slide start from here */

.work_process-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 124px 0;
    gap: 70px;
}

.work_process-intro h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: #132238;
}

.work_process-intro p {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #697484;
}

.work_process-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.work_process-details-wrapper .detail-box-wrapper div[class^="detail-box-"] {
    padding: 32px;
    background-color: #f6f4f4;
    border-radius: 12px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.detail-box-wrapper {
    display: flex;
    gap: 18px;
}

.work_process-details-wrapper .detail-box-wrapper div[class^="detail-box-"] h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #132238;
}

.work_process-details-wrapper .detail-box-wrapper div[class^="detail-box-"] p {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #556070;
}

.work_process-details-wrapper .detail-box-wrapper div[class^="detail-box-"] .detail-box-logo-wrapper {
    padding: 18px;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: rgba(237, 216, 255, 0.5);
    margin-bottom: 8px;
}

.detail-box-logo-wrapper i {
    color: #A53DFF;
    font-size: 26px;
}

.work_process-details-wrapper .detail-box-wrapper div[class^="detail-box-"]:hover {
    background-color: #fff;
    box-shadow: 32px 32px 124px rgba(43, 56, 76, 0.2);
}

.work_process-details-wrapper .detail-box-wrapper div[class^="detail-box-"]:hover .detail-box-logo-wrapper {
    background-color: #A53DFF;
}

.work_process-details-wrapper .detail-box-wrapper div[class^="detail-box-"]:hover .detail-box-logo-wrapper i {
    color: #fff;
}

/* work process slide end here */

/* Portfolio Projects slide start from here */

.portfolio_projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.protfolio_projects-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.protfolio_projects-title-wrapper h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: #132238;
}

.protfolio_projects-title-wrapper p {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: #87909D;
}

.portfolio_projects-wrapper {
    width: 100%;
    height: auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.portfolio_project-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 12px 64px rgba(28, 25, 25, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.portfolio_project-img_outer-wrapper {
    padding: 24px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.portfolio_project-wrapper .project-img {
    object-fit: cover;
    object-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.portfolio_project-wrapper .project-category {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #87909D;
    font-size: 12px;
    margin: 0;
}

.portfolio_project-wrapper .project-title {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    color: #131313;
    font-size: 18px;
    margin: 0;
}

.portfolio_project-wrapper .project_subtext {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: #556070;
    font-size: 14px;
    margin: 0;
}

.portfolio_project-img_outer-wrapper button {
    padding: 24px 6px;
    width: 175px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #A53DFF;
    border-radius: 4px;
    color: #A53DFF;
    font-weight: 600;
    gap: 5px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.portfolio_project-img_outer-wrapper button span,
.portfolio_project-img_outer-wrapper button ion-icon {
    position: absolute;
    transition: all .5s ease-in-out;
}

.portfolio_project-img_outer-wrapper button span {
    left: 25%;
    transform: translateX(-25%);
}

.portfolio_project-img_outer-wrapper button .project-icon_right {
    font-size: 24px;
    right: 12%;
}

.portfolio_project-img_outer-wrapper button .project-icon_left {
    font-size: 24px;
    left: -12%;
}

.portfolio_project-img_outer-wrapper button:hover .project-icon_right {
    right: -12%;
}

.portfolio_project-img_outer-wrapper button:hover span {
    left: 45%;
}

.portfolio_project-img_outer-wrapper button:hover .project-icon_left {
    left: 11%;
}

.portfolio_project-img_outer-wrapper button:active {
    opacity: 0.7;
    transition: 50ms ease;
    border: 2px solid #A53DFF;
    outline: none;
}

.portfolio_project-img_outer-wrapper button:checked {
    border: 2px solid #A53DFF;
    outline: none;
    stroke: none;
}

/* Portfolio Projects slide end here */
/* Main code end here */